In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/raw_data.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   no            476 non-null    int64
 1   nama          476 non-null    object
 2   vote_average  476 non-null    float64
 3   vote_count    476 non-null    int64
 4   type          476 non-null    object
 5   htm_weekday   134 non-null    float64
 6   htm_weekend   128 non-null    float64
 7   latitude      473 non-null    float64
 8   longitude     473 non-null    float64
 9   description   144 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 37.3+ KB

In [ ]:
df.isnull().sum()

no                0
nama              0
vote_average      0
vote_count        0
type              0
htm_weekday     342
htm_weekend     348
latitude          3
longitude         3
description     332
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df.isnull().sum()

no              0
nama            0
vote_average    0
vote_count      0
type            0
htm_weekday     0
htm_weekend     0
latitude        0
longitude       0
description     0
dtype: int64

In [ ]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
163    False
324    False
341    False
382    False
475    False
Length: 126, dtype: bool

In [ ]:
from urllib.parse import quote

In [ ]:
df['aff_link'] = df['nama'].apply(
    lambda x: f"https://www.tiket.com/to-do/search?title={quote(x)}"
)

In [ ]:
print(df['nama'])

0                                    Candi Borobudur
1                                    Candi Prambanan
2                                      Tebing Breksi
3                                   Gembira Loka Zoo
4      The Palace of Yogyakarta (Keraton Yogyakarta)
                           ...
163                                   Bukit Pengilon
324                         Ijo Temple Wooden Mosque
341                  Museum Batik Keraton Yogyakarta
382                                 Candi ASU Klaten
475                     Wisata Air Wanatirta Kencana
Name: nama, Length: 126, dtype: object

In [ ]:
print(df['aff_link'].iloc[0])

https://www.tiket.com/to-do/search?title=Candi%20Borobudur

In [ ]:
!pip install googletrans==4.0.0-rc1

Collecting googletrans==4.0.0-rc1
  Downloading googletrans-4.0.0rc1.tar.gz (20 kB)
  Preparing metadata (setup.py) ... done
Collecting httpx==0.13.3 (from googletrans==4.0.0-rc1)
  Downloading httpx-0.13.3-py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2024.8.30)
Collecting hstspreload (from httpx==0.13.3->googletrans==4.0.0-rc1)
  Downloading hstspreload-2024.12.1-py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.3.1)
Collecting chardet==3.* (from httpx==0.13.3->googletrans==4.0.0-rc1)
  Downloading chardet-3.0.4-py2.py3-none-any.whl.metadata (3.2 kB)
Collecting idna==2.* (from httpx==0.13.3->googletrans==4.0.0-rc1)
  Downloading idna-2.10-py2.py3-none-any.whl.metadata (9.1 kB)
Collecting rfc3986<2,>=1.3 (from httpx==0.13.3->googletrans==4.0.0-rc1)
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl.metadata (6.5 kB)
Collecting httpcore==0.9.* (from httpx==0.13.3->googletrans==4.0.0-rc1)
  Downloading httpcore-0.9.1-py3-none-any.whl.metadata (4.6 kB)
Collecting h11<0.10,>=0.8 (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1)
  Downloading h11-0.9.0-py2.py3-none-any.whl.metadata (8.1 kB)
Collecting h2==3.* (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1)
  Downloading h2-3.2.0-py2.py3-none-any.whl.metadata (32 kB)
Collecting hyperframe<6,>=5.2.0 (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1)
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl.metadata (7.2 kB)
Collecting hpack<4,>=3.0 (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1)
  Downloading hpack-3.0.0-py2.py3-none-any.whl.metadata (7.0 kB)
Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.1/55.1 kB 3.8 MB/s eta 0:00:00
Downloading chardet-3.0.4-py2.py3-none-any.whl (133 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.4/133.4 kB 9.7 MB/s eta 0:00:00
Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.6/42.6 kB 2.8 MB/s eta 0:00:00
Downloading idna-2.10-py2.py3-none-any.whl (58 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.8/58.8 kB 4.0 MB/s eta 0:00:00
Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.0/65.0 kB 4.6 MB/s eta 0:00:00
Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Downloading hstspreload-2024.12.1-py3-none-any.whl (1.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 42.9 MB/s eta 0:00:00
Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.6/53.6 kB 3.3 MB/s eta 0:00:00
Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-4.0.0rc1-py3-none-any.whl size=17397 sha256=afa8ee70d5e385b52176018c416b0885bd835690a3ab63b93c1e1ecb8a9879c0
  Stored in directory: /root/.cache/pip/wheels/c0/59/9f/7372f0cf70160fe61b528532e1a7c8498c4becd6bcffb022de
Successfully built googletrans
Installing collected packages: rfc3986, hyperframe, hpack, h11, chardet, idna, hstspreload, h2, httpcore, httpx, googletrans
  Attempting uninstall: h11
    Found existing installation: h11 0.14.0
    Uninstalling h11-0.14.0:
      Successfully uninstalled h11-0.14.0
  Attempting uninstall: chardet
    Found existing installation: chardet 5.2.0
    Uninstalling chardet-5.2.0:
      Successfully uninstalled chardet-5.2.0
  Attempting uninstall: idna
    Found existing installation: idna 3.10
    Uninstalling idna-3.10:
      Successfully uninstalled idna-3.10
  Attempting uninstall: httpcore
    Found existing installation: httpcore 1.0.7
    Uninstalling httpcore-1.0.7:
      Successfully uninstalled httpcore-1.0.7
  Attempting uninstall: httpx
    Found existing installation: httpx 0.27.2
    Uninstalling httpx-0.27.2:
      Successfully uninstalled httpx-0.27.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
langsmith 0.1.143 requires httpx<1,>=0.23.0, but you have httpx 0.13.3 which is incompatible.
openai 1.54.4 requires httpx<1,>=0.23.0, but you have httpx 0.13.3 which is incompatible.
Successfully installed chardet-3.0.4 googletrans-4.0.0rc1 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2024.12.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 idna-2.10 rfc3986-1.5.0

In [ ]:
from googletrans import Translator

In [ ]:
translator = Translator()

In [ ]:
df['trans_desc'] = df['description'].apply(lambda x: translator.translate(x, src='id', dest='en').text)

In [ ]:
print(df['trans_desc'])

0      The temple, which had entered as one of the se...
1      Prambanan Temple is the largest Hindu temple c...
2      Tebing Breksi is a tourist spot in the Sleman ...
3      Gambira Loka is a zoo in Yogyakarta.Contains a...
4      The palace complex is a museum that stores var...
                             ...
163    The name of the Bukit Pengilon comes from Java...
324    Pasoedjoedan Al Liwung or known as the Temple ...
341    At the Yogyakarta Palace Batik Museum, tourist...
382    It is located on DK.Really Ds.Bugisan Kec.Pram...
475    Wahana playing water in the Tirta Kencana Air ...
Name: trans_desc, Length: 126, dtype: object

In [ ]:
error_rows = df[df['trans_desc'].str.contains('error', case=False, na=False)]
print(error_rows)

Empty DataFrame
Columns: [no, nama, vote_average, vote_count, type, htm_weekday, htm_weekend, latitude, longitude, description, aff_link, trans_desc]
Index: []

In [ ]:
df['types'] = df['type'].apply(lambda x: translator.translate(x, src='id', dest='en').text)

In [ ]:
error = df[df['types'].str.contains('error', case=False, na=False)]
print(error)

Empty DataFrame
Columns: [no, nama, vote_average, vote_count, type, htm_weekday, htm_weekend, latitude, longitude, description, aff_link, trans_desc, types]
Index: []

In [ ]:
print(df['types'])

0      Culture and history
1      Culture and history
2                  Natural
3                    Fauna
4      Culture and history
              ...
163                Natural
324                  Beach
341        Natural tourism
382        Natural tourism
475          Water Tourism
Name: types, Length: 126, dtype: object

In [ ]:
df['combined'] = df['types'] + ' ' + df['trans_desc']

In [ ]:
df

,no,nama,vote_average,vote_count,type,htm_weekday,htm_weekend,latitude,longitude,description,aff_link,trans_desc,types,combined
0,9,Candi Borobudur,4.7,81922,Budaya dan Sejarah,50000.0,50000.0,-7.607087,110.203623,Candi yang pernah masuk sebagai salah satu dar...,https://www.tiket.com/to-do/search?title=Candi...,"The temple, which had entered as one of the se...",Culture and history,"Culture and history The temple, which had ente..."
1,10,Candi Prambanan,4.7,71751,Budaya dan Sejarah,50000.0,50000.0,-7.751835,110.491532,Candi Prambanan adalah kompleks candi Hindu te...,https://www.tiket.com/to-do/search?title=Candi...,Prambanan Temple is the largest Hindu temple c...,Culture and history,Culture and history Prambanan Temple is the la...
2,24,Tebing Breksi,4.4,51431,Alam,10000.0,10000.0,-7.781477,110.504576,Tebing Breksi merupakan tempat wisata yang ber...,https://www.tiket.com/to-do/search?title=Tebin...,Tebing Breksi is a tourist spot in the Sleman ...,Natural,Natural Tebing Breksi is a tourist spot in the...
3,343,Gembira Loka Zoo,4.5,36337,Fauna,20000.0,25000.0,-7.806234,110.396798,Gambira Loka adalah kebun binatang yang berada...,https://www.tiket.com/to-do/search?title=Gembi...,Gambira Loka is a zoo in Yogyakarta.Contains a...,Fauna,Fauna Gambira Loka is a zoo in Yogyakarta.Cont...
4,346,The Palace of Yogyakarta (Keraton Yogyakarta),4.6,30091,Budaya dan Sejarah,8000.0,8000.0,-7.805284,110.364203,Kompleks keraton merupakan museum yang menyimp...,https://www.tiket.com/to-do/search?title=The%2...,The palace complex is a museum that stores var...,Culture and history,Culture and history The palace complex is a mu...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,7,Bukit Pengilon,4.6,439,Alam,5000.0,5000.0,-8.185459,110.691722,Nama bukit Pengilon berasal dari bahasa Jawa y...,https://www.tiket.com/to-do/search?title=Bukit...,The name of the Bukit Pengilon comes from Java...,Natural,Natural The name of the Bukit Pengilon comes f...
324,262,Ijo Temple Wooden Mosque,4.4,33,Pantai,0.0,0.0,-7.784753,110.512844,Pasoedjoedan Al Liwung atau yang dikenal denga...,https://www.tiket.com/to-do/search?title=Ijo%2...,Pasoedjoedan Al Liwung or known as the Temple ...,Beach,Beach Pasoedjoedan Al Liwung or known as the T...
341,75,Museum Batik Keraton Yogyakarta,4.9,20,Wisata Alam,20000.0,20000.0,-7.807514,110.364589,"Di Museum Batik Keraton Yogyakarta, wisatawan ...",https://www.tiket.com/to-do/search?title=Museu...,"At the Yogyakarta Palace Batik Museum, tourist...",Natural tourism,Natural tourism At the Yogyakarta Palace Batik...
382,250,Candi ASU Klaten,4.2,5,Wisata Alam,3000.0,3000.0,-7.742302,110.515587,Letaknya di Dk. Bener Ds. Bugisan Kec. Pramban...,https://www.tiket.com/to-do/search?title=Candi...,It is located on DK.Really Ds.Bugisan Kec.Pram...,Natural tourism,Natural tourism It is located on DK.Really Ds....
475,443,Wisata Air Wanatirta Kencana,5.0,1,Wisata Air,10000.0,15000.0,-7.891443,110.548354,Wahana bermain air di Taman Wisata Air Tirta K...,https://www.tiket.com/to-do/search?title=Wisat...,Wahana playing water in the Tirta Kencana Air ...,Water Tourism,Water Tourism Wahana playing water in the Tirt...

In [ ]:
print(df['nama'])

0                                    Candi Borobudur
1                                    Candi Prambanan
2                                      Tebing Breksi
3                                   Gembira Loka Zoo
4      The Palace of Yogyakarta (Keraton Yogyakarta)
                           ...
163                                   Bukit Pengilon
324                         Ijo Temple Wooden Mosque
341                  Museum Batik Keraton Yogyakarta
382                                 Candi ASU Klaten
475                     Wisata Air Wanatirta Kencana
Name: nama, Length: 126, dtype: object

In [ ]:
image_mapping = pd.read_csv("/content/file_id - Sheet1.csv")

In [ ]:
merged = df.merge(image_mapping, on="nama", how="left")

In [ ]:
merged['image_link'] = merged['file_id'].apply(
    lambda file_id: f"https://drive.google.com/uc?id={file_id}" if pd.notnull(file_id) else None
)

In [ ]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   no            126 non-null    int64
 1   nama          126 non-null    object
 2   vote_average  126 non-null    float64
 3   vote_count    126 non-null    int64
 4   type          126 non-null    object
 5   htm_weekday   126 non-null    float64
 6   htm_weekend   126 non-null    float64
 7   latitude      126 non-null    float64
 8   longitude     126 non-null    float64
 9   description   126 non-null    object
 10  aff_link      126 non-null    object
 11  trans_desc    126 non-null    object
 12  types         126 non-null    object
 13  combined      126 non-null    object
 14  file_id       126 non-null    object
 15  Unnamed: 2    0 non-null      float64
 16  Unnamed: 3    95 non-null     object
 17  image_link    126 non-null    object
dtypes: float64(6), int64(2), object(10)
memory usage: 17.8+ KB

In [ ]:
merged = merged.drop(columns=['Unnamed: 2', 'Unnamed: 3'])

In [ ]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   no            126 non-null    int64
 1   nama          126 non-null    object
 2   vote_average  126 non-null    float64
 3   vote_count    126 non-null    int64
 4   type          126 non-null    object
 5   htm_weekday   126 non-null    float64
 6   htm_weekend   126 non-null    float64
 7   latitude      126 non-null    float64
 8   longitude     126 non-null    float64
 9   description   126 non-null    object
 10  aff_link      126 non-null    object
 11  trans_desc    126 non-null    object
 12  types         126 non-null    object
 13  combined      126 non-null    object
 14  file_id       126 non-null    object
 15  image_link    126 non-null    object
dtypes: float64(5), int64(2), object(9)
memory usage: 15.9+ KB

In [ ]:
print(merged['image_link'].iloc[5])

https://drive.google.com/uc?id=1pmSb1gyxM3xAT50FslzgWSOvmmzaKIU2

In [ ]:
merged.to_csv('data_kaggle(1).csv', index=False)